@use 'sass:list';

@use '../../breakpoints';
@use '../../mixins';

$rounded-corners: 10px;

.note {
  min-width: 13.0416875em;
  max-width: 20em;
  min-height: 10em;

  margin-bottom: 1em;
  border-radius: $rounded-corners;

  transform: scale(0) translateX(0);
  transition: transform 500ms;
}

.noteOnMount {
  transform: scale(1);
}

.noteOnDestroy {
  transform: translateX(100vw);
}

.noteHeader {
  display: flex;
  justify-content: flex-end;

  height: 1.5em;

  border-top-left-radius: $rounded-corners;
  border-top-right-radius: $rounded-corners;
}

.closeButton {
  @include mixins.unstyled-button;
  @include mixins.clickable;

  font-weight: 600;

  display: inline-block;

  margin: 0 0 0 auto;
  padding-right: .5em;
}

.noteBody {
  word-break: break-word;
  white-space: pre-wrap;

  height: 100%;

  padding: .5em 1em;
  margin: 0;
}

$gridLayout: list.nth(breakpoints.$main-breakpoints, 1);
@media (min-width: $gridLayout) {
  .note {
    margin: 0 1em 1em 0;

    transform: scale(0) translateY(0);
  }

  .noteOnMount {
    transform: scale(1);
  }

  .noteOnDestroy {
    transform: translateY(-100vh);
  }
}