@use 'sass:list';

@use '../../breakpoints';
@use '../../mixins';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.modalNote {
  max-width: 13.0416875em;
  min-height: 15.0416875em;

  transform: scale(1);
  transition: none;
}

$notesSizeIncrease: list.nth(breakpoints.$main-breakpoints, 1);
@media (min-width: $notesSizeIncrease) {
  .modalNote {
    min-width: 23.0416875em;
    min-height: 25.0416875em;
  }
}

.editableNoteText {
  @include mixins.unstyled-textarea;

  font-size: 1.2rem;

  resize: none;

  width: 100%;
  height: 100%;
}

.howToSaveText {
  font-size: 1.1rem;
  color: #fff;

  text-shadow: 1px 1px #333;
}