@use '../../mixins';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.modalNote {
  display: grid;
  grid-template-rows: max-content 1fr;

  aspect-ratio: .75/.6;

  transform: scale(1);
  transition: none;
}

.editableNoteText {
  @include mixins.unstyled-textarea;

  font-size: 1.2rem;

  resize: none;

  width: 100%;
  height: 100%;
}

.howToSaveText {
  font-size: 1.1rem;
  color: #fff;

  text-shadow: 1px 1px #333;
}