@use '../../mixins';

.colorPicker {
  justify-self: end;
  align-self: center;

  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: max-content;
  grid-column-gap: .5em;

  background: #fff;
  padding: 0 .5em;
  margin-right: .125em;
}

.colorPicker:hover {
  grid-auto-columns: max-content;
}

// Color dots
.colorPicker:hover > * {
  grid-column: revert;

  visibility: visible;
}