@use '../../mixins';

.colorPicker {
  justify-self: end;
  align-self: center;

  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: max-content;
  grid-column-gap: .5em;

  background: #fff;
  padding: 0 .5em;
  margin-right: .125em;

  transition: grid-template-columns 250ms;
}

.colorDot {
  @include mixins.clickable;

  grid-row: 1;
  grid-column: 1;

  visibility: hidden;

  width: 1em;
  height: 1em;

  border-radius: 50%;
}

.currentColor {
  z-index: 1;

  visibility: visible;
}

.colorPicker:hover {
  grid-auto-columns: max-content;

  .colorDot {
    grid-column: revert;

    visibility: visible;
  }
}