@use '../../../mixins';

.colorDot {
  @include mixins.clickable;

  grid-row: 1;
  grid-column: 1;

  visibility: hidden;

  width: 1em;
  height: 1em;

  border-radius: 50%;

  filter: drop-shadow(0 0 20px #333);
}

.currentColor {
  z-index: 1;

  visibility: visible;
}

.colorDot:focus,
.colorDot:active {
  outline: solid lightblue;
}