@use '../mixins';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.modalNote {
  display: grid;
  grid-template-rows: max-content 1fr;

  height: min-content;

  transform: scale(1);
  transition: none;
}

.editableNoteText {
  @include mixins.unstyled-textarea;

  resize: none;

  height: 100%;
}

.howToSaveText {
  color: #fff;
}