@use 'sass:list';

@use '../../breakpoints';
@use '../../mixins';

.layout {
  @include mixins.unstyled-ul;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  height: 100vh;
}

$layoutChange: list.nth(breakpoints.$main-breakpoints, 1);
@media (min-width: $layoutChange) {
  .layout {
    display: revert;
  }
}