@use 'sass:list';

@use '../../breakpoints';
@use '../../mixins';

.layout {
  @include mixins.unstyled-ul;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

$notesWrap: list.nth(breakpoints.$main-breakpoints, 1);
@media (min-width: $notesWrap) {
  .layout {
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }
}