@mixin unstyled-ul {
  list-style: none;

  padding: 0;
}

@mixin unstyled-textarea {
  background: none;
  padding: 0;
  border: none;
}

@mixin unstyled-button {
  display: inline-block;

  background: 0;
  padding: 0;
  border: 0;
}

@mixin clickable {
  cursor: pointer;
}